@charset "UTF-8";
/* ========================================================================= */
/* !RESETS AND DEFAULTS */
/* ========================================================================= */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, var, hr, acronym, dl, dt, dd, ol, ul, li, pre, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

em, strong, b, i, a, span, sub, sup, small {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

a:focus {
  outline: 0;
}

:focus, :active {
  outline: none;
  outline: 0;
}

::-moz-focus-inner {
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border-top: 1px solid #000;
  color: #000;
}

input, select {
  vertical-align: middle;
}

sub {
  vertical-align: sub;
  font-size: smaller;
  line-height: 0px;
}

sup {
  vertical-align: super;
  font-size: smaller;
  line-height: 0px;
}

input, button, textarea, select, label, img {
  display: inline-block;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input, button, textarea, select {
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

button, a span {
  cursor: pointer;
}

button {
  border: 0;
  text-align: center;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

table {
  table-layout: fixed;
}

a[href^=tel] {
  color: inherit;
}

#no_ie6 {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-bottom: 2px solid #000;
}

/* != FONT SMOOTHING */
body, input, button, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* * { box-sizing: border-box;} */
/* != .clearfix - CLEAR ELEMENTS */
.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-table;
}

* html .clearfix {
  height: 1%;
}

/* Hides from IE-mac \*/
.clearfix {
  display: block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* != .wordwrap - CONTINUE LONG URLS/WORDS ON NEXT LINE */
.wordwrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  word-wrap: break-word;
}

/* ========================================================================= */
/* !FONTS (@fontface generated with FontSpring Syntax formatting */
/* ========================================================================= */
@font-face {
  font-family: "jack-social";
  src: url("../fonts/JackSocial/jack-social.eot");
  src: url("../fonts/JackSocial/jack-social.eot?#iefix") format("embedded-opentype"), url("../fonts/JackSocial/jack-social.ttf") format("truetype"), url("../fonts/JackSocial/jack-social.woff") format("woff"), url("../fonts/JackSocial/jack-social.svg#jack-social") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ========================================================================= */
/* !SASS VARIABLES & MIXINS */
/* ========================================================================= */
/* ========================================================================= */
/* !STYLES */
/* ========================================================================= */
/* != SELECTION STYLES (Leaving these blank will show no indication of text selection) ===== */
/*
    ::selection         { background: #aaa; color: #fff; }
    ::-moz-selection    { background: #aaa; color: #fff; }
    ::-webkit-selection { background: #aaa; color: #fff; }
*/
/* != ICON FONT DECLARATION ===== */
[data-icon]:before {
  font-family: "jack-social";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="social-"]:before,
[class*=" social-"]:before {
  font-family: "jack-social";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social-email:before {
  content: "a";
}

.social-email-round:before {
  content: "A";
}

.social-facebook:before {
  content: "f";
}

.social-facebook-round:before {
  content: "F";
}

.social-flickr:before {
  content: "c";
}

.social-flickr-round:before {
  content: "C";
}

.social-googleplus:before {
  content: "g";
}

.social-googleplus-round:before {
  content: "G";
}

.social-instagram:before {
  content: "i";
}

.social-instagram-round:before {
  content: "I";
}

.social-linkedin:before {
  content: "l";
}

.social-linkedin-round:before {
  content: "L";
}

.social-pinterest:before {
  content: "p";
}

.social-pinterest-round:before {
  content: "P";
}

.social-rss:before {
  content: "r";
}

.social-rss-round:before {
  content: "R";
}

.social-sharethis:before {
  content: "s";
}

.social-sharethis-round:before {
  content: "S";
}

.social-twitter:before {
  content: "t";
}

.social-twitter-round:before {
  content: "T";
}

.social-vimeo:before {
  content: "v";
}

.social-vimeo-round:before {
  content: "V";
}

.social-yelp:before {
  content: "x";
}

.social-yelp-round:before {
  content: "X";
}

.social-youtube:before {
  content: "y";
}

.social-youtube-round:before {
  content: "Y";
}

.social-youtube2:before {
  content: "u";
}

.social-youtube2-round:before {
  content: "U";
}

/* != DEFAULT WORDPRESS STYLES = USE AS NEEDED = .wp-caption = .wp-caption-dd = .wpGallery = .shutter = .shutterset ==== */
.aligncenter {
  display: block;
  margin: 25px auto;
}

.alignleft {
  float: left;
  margin: 0 25px 25px 0;
}

.alignright {
  float: right;
  margin: 0 0 25px 25px;
}

.alignnone {
  display: inline-block;
}

/* != LAYOUT STYLES ===== */
h1 {
  font: normal 24px/1.2 sans-serif;
  color: #f00;
}

h2 {
  font: normal 24px/1.2 sans-serif;
  color: #f00;
}

h3 {
  font: normal 24px/1.2 sans-serif;
  color: #f00;
}

h4 {
  font: normal 24px/1.2 sans-serif;
  color: #f00;
}

h5 {
  font: normal 24px/1.2 sans-serif;
  color: #f00;
}

h6 {
  font: normal 24px/1.2 sans-serif;
  color: #f00;
}

.content-main ul li {
  position: relative;
  padding-left: 10px;
}

.content-main ul li:before {
  content: '•';
  position: absolute;
  left: 0;
}

.content-main ol {
  counter-reset: li;
}

.content-main ol li {
  position: relative;
  padding-left: 20px;
}

.content-main ol li:before {
  content: counter(li) ". ";
  counter-increment: li;
  position: absolute;
  left: 0;
}

.wrap {
  width: 1100px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 20px;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/* != PLACEHOLDER ATTRIBUTE STYLES = input or textarea - placeholder="whatever" ===== */
/*
    ::-webkit-input-placeholder { color: #aaa; }
    :-moz-placeholder           { color: #aaa; }
*/
form ul {
  margin: 0;
}

form ul li {
  background: none;
  list-style: none;
}

form ul li div {
  display: inline-block;
  vertical-align: top;
}

input[type=submit], button {
  display: inline-block;
  cursor: pointer;
}

.this {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.team-header {
  position: relative;
  min-height: 500px;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
}

.row-one {
  background: url(../images/nature.jpg) repeat-x center 50%;
  height: 500px;
  width: 100%;
  transition: background-position 0.75s ease-out;
  position: absolute;
}

.row-two {
  z-index: 1;
  background: url(../images/animals.png) repeat-x center 50%;
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  transition: background-position 0.75s ease-out;
}

.team-controls {
  width: 300px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.team-slider img {
  transform: scale(0.9);
  transition: transform .5 ease-out;
  position: relative;
  bottom: -20px;
}

.team-slider .center img {
  transform: scale(1);
  bottom: 0;
}

/* ========================================================================= */
/* !MEDIA QUERIES */
/* ========================================================================= */
/* @media screen and (max-width: XXXpx) {  } */
@media screen and (max-width: 786px) {
  .team-slider .slick-current img {
    margin: 0 auto;
  }
}
